.header {
  height: 5.2rem;
  margin-top: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav {
  display: flex;
  gap: 4rem;
}

.main-nav-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #505050;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:focus {
  color: var(--primary-color);
}

/* Mobile Nav */
.btn-mobile-nav {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}
.icon-mobile-nav {
  color: #505050;
}
.icon-close {
  display: none;
}

.hero {
  height: 70rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 4.5rem;
}
.hero-image {
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* background-image: url("img/bg-1.png");
  background-repeat: no-repeat;
  background-size: contain; */
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

/* ******************* PORTFOLIO ******************* */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 24rem);
  grid-gap: 4.5rem;
  margin-top: 9.5rem;
}
.card {
  /* max-width: 38rem; */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px -10px rgba(0, 0, 0, 0.1);
}
.card:hover img {
  transform: scale(1.1);
}
.card img {
  object-fit: cover;
  object-position: center;
  width: 38rem;
  height: 100%;
  transition: all 0.4s;
}

.item-1 {
  grid-row: 1/3;
}
.item-2 {
  grid-row: 1/2;
}
.item-3 {
  grid-row: 1/3;
}
.item-4 {
  grid-row: 3/-1;
}
.item-5 {
  grid-row: 2/-1;
}
.item-6 {
  grid-row: 3/-1;
}

/* ******************* SKILLS ******************* */
.skills-container {
  width: 100%;
  /* background-color: aqua; */
}

.skills-image {
  display: flex;
  justify-content: center;
}
.skill-list {
  margin-bottom: 3.2rem;
}
.skill-text {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.skill-bar {
  background-color: #d9d9d9;
  border-radius: 8px;
  height: 15px;
  overflow: hidden;
}

.skill-bar-inner {
  height: 15px;
}
.html-percentage {
  padding-right: 8%;
}
.html-color {
  background-color: #f0582f;
  width: 92%;
}
.js-percentage {
  padding-right: 23%;
}
.js-color {
  background-color: #eed703;
  width: 77%;
}
.react-percentage {
  padding-right: 49%;
}
.react-color {
  background-color: #2cb8e4;
  width: 51%;
}
.figma-percentage {
  padding-right: 31%;
}
.figma-color {
  background-color: #7209b7;
  width: 69%;
}

/* ******************* SERVICES ******************* */
.services-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 3.2rem;
}
.card-item {
  position: relative;
  /* background-color: #fff; */
  background: linear-gradient(90deg, #fff, transparent) #fff;
  padding: 7rem;
  border-radius: 8px;
  box-shadow: 5px 5px 10px -10px rgba(0, 0, 0, 0.1),
    -5px -5px 10px -10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  z-index: 1;
}
.card-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.35s ease-in-out;
  background: rgb(113, 225, 186);
  background: linear-gradient(90deg, #cdeae0 0%, rgba(88, 186, 150, 1) 100%);

  border-radius: 8px;
  opacity: 0;
  z-index: -1;
}
.card-item:hover:before {
  opacity: 0.8;
}
.card-header {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  margin-bottom: 1.6rem;
}

/* ******************* TESTIMONIALS ******************* */
.testimonial-container {
  position: relative;
  max-width: 994px;
  margin-left: auto;
  margin-right: auto;
}
.slider {
  max-width: 994px;
  height: 35rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}
.slide {
  display: grid;
  grid-template-columns: 30% 70%;
  column-gap: 3.2rem;
  align-items: center;

  position: absolute;
  top: 0;
  width: 100%;
  height: 35rem;

  padding-right: 7.5rem;

  /* THIS creates the animation! */
  transition: transform 1s;
}
.client-image {
  /* width: 276px; */
  height: 276px;
  border-radius: 8px;
  overflow: hidden;
}
.client-image img {
  max-width: 100%;
  object-fit: cover;
  object-position: center;
}

.message-container {
  display: flex;
  flex-direction: column;
  row-gap: 3.2rem;
}
.message-container img {
  width: 64px;
  height: 64px;
}
.comment {
  width: 95%;
}
.arrows {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  row-gap: 1.6rem;
  align-items: center;
  cursor: pointer;
}

/* ******************* CONTACT ******************* */
.contact-info {
  display: flex;
  justify-content: space-between;
}

.contact-list {
  display: flex;
  align-items: center;
}

.contact-icon {
  background-color: var(--primary-color);
  height: 70px;
  width: 70px;
  padding: 1.6rem;
  margin-right: 1.6rem;
  border-radius: 50%;
}

.contact-form {
  padding-top: 9.5rem;
}

form span {
  display: flex;
  flex-direction: column;
  padding-right: 3.2rem;
  margin-bottom: 1.6rem;
}

input,
textarea {
  background-color: #f5f5f5;
  /* border: 1px solid #d9d9d9; */
  border: 1px solid var(--primary-color-light);
  font-family: inherit;
  font-size: 1.6rem;
  outline: none;
  border-radius: 8px;
}

input[type="text"],
input[type="email"] {
  padding: 0.8rem 1.6rem;
}
textarea {
  width: 100%;
  min-height: 12rem;
  padding: 1.6rem;
  margin-right: 3.2rem;
}

.map {
  width: 100%;
  max-width: 600px;
  max-height: 422px;
  overflow: hidden;
  padding-top: 9.5rem;
  border-radius: 8px;
}

/* ******************* FOOTER ******************* */
footer {
  border-top: 1px solid #d9d9d9;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.section-hidden {
  opacity: 0;
  transform: translateY(8rem);
}

/* -------------- Media Query --------------- */

/* -------------- MAX WIDTH 992 --------------- */
@media (max-width: 992px) {
  img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  .container {
    max-width: 992px;
    padding-right: 4rem;
    padding-left: 4rem;
  }
  section {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
  .col-2 {
    column-gap: 3.2rem;
    align-items: center;
  }

  /* ------------------- HERO ------------------- */
  .hero {
    height: auto;
  }
  .hero-image {
    max-height: 40rem;
  }

  /* ------------------- SERVICES ------------------- */

  .card-item {
    padding: 4rem;
  }

  /* ------------------- TESTIMONIALS ------------------- */

  .slide {
    align-items: center;
    grid-template-columns: 30% 70%;
    top: 0;
    width: 100%;
    height: 35rem;
    padding-right: 7.5rem;
    transition: transform 1s;
  }
  .client-image {
    min-width: 185px;
    min-height: 185px;
    height: auto;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    gap: 3.2rem;
    flex-wrap: wrap;
    max-width: 80rem;
    align-items: center;
  }

  .contact-list {
    flex-direction: column;
    gap: 2.4rem;
  }
  /* ------------------- FEATURES ------------------- */
  .single-feature {
    padding: 3rem 2rem;
    margin-bottom: 0;
  }
  .feature-icon {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 2rem;
  }
}

/* -------------- MAX WIDTH 768 --------------- */

@media (max-width: 767px) {
  .container {
    max-width: 767px;
    padding-right: 2.4rem;
    padding-left: 2.4rem;
  }
  section {
    padding-top: 6.4rem;
    padding-bottom: 6.4rem;
  }
  .col-2 {
    /* width: 50%;
  padding: 0 0.8rem; */
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 1fr;
  }
  /* mobile nav  */
  .btn-mobile-nav {
    display: block;
    z-index: 100;
  }

  .main-nav {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    z-index: 10;
  }

  .nav-open .icon-close {
    display: block;
  }
  .nav-open .icon-open {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    font-size: 2.4rem;
  }

  .header {
    height: auto;
    padding: 0 2.4rem;
  }

  .nav-item {
    flex-direction: column;
  }
  .nav-link {
    text-decoration: none;
    font-size: 3rem;
    color: #505050;
  }

  /* ----------------- HERO ---------------- */
  .hero {
    height: auto;
    margin: 5.6rem auto;
    row-gap: 4rem;
  }
  .hero-text {
    text-align: center;
    align-items: center;
  }
  .hero-text h2 {
    font-size: 3rem;
    font-weight: 500;
  }

  /* ----------------- ABOUT ---------------- */

  .about-image {
    grid-area: 2;
  }
  .about-text {
    margin-bottom: 4rem;
  }
  /* ******************* PORTFOLIO ******************* */
  .portfolio-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 4.5rem;
    margin-top: 9.5rem;
  }

  .item-1 {
    grid-row: auto;
    height: 32rem;
    max-width: 767px;
  }
  .item-2 {
    grid-row: auto;
    height: 32rem;
  }
  .item-3 {
    grid-row: auto;
    height: 32rem;
  }
  .item-4 {
    grid-row: auto;
    height: 32rem;
  }
  .item-5 {
    grid-row: auto;
    height: 32rem;
  }
  .item-6 {
    grid-row: auto;
    height: 32rem;
  }

  .card {
    max-width: 100%;
  }
  .card img {
    width: 100%;
    transition: all 0.4s;
  }
  /* ******************* SERVICES ******************* */

  .services-card-container {
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 3.2rem;
    row-gap: 3.2rem;
  }

  .card-item {
    padding: 3.2rem;
  }

  /* ******************* TESTIMONIALS ******************* */
  .slider {
    height: 40rem;
  }

  .slide {
    grid-template-columns: 1fr;
    height: 40rem;
    padding-right: 0rem;
  }

  .message-container {
    grid-area: 1;
  }

  .client-image {
    width: 10rem;
    height: 10rem;
    /* margin-top: 1.6rem; */
  }
  .arrows {
    right: 3.2rem;
    bottom: 3rem;
    top: auto;
    transform: translateY(0%);
  }
  /* ******************* CONTACT ******************* */

  .contact-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
  }
  .contact-list {
    flex-direction: row;
    gap: 2.4rem;
  }

  form span {
    padding-right: 0rem;
    margin-bottom: 1.6rem;
  }

  .footer {
    flex-direction: column;
    gap: 1.6rem;
  }
}
